html
  head
    title Destiny 2 Hunter API
    link(rel='stylesheet' href='/css/styles.css')
    script(src='/javascript/scripts.js')
  body
    div(id='request-flex')
      div(id='side-bar')
       h1(id='side-bar-title') Requests
       button(class='request' value='1') GET /hunters
        button(class='request' value='2') GET /hunters/{tag}
        button(class='request' value='3') GET /hunters/class/{subclass}
        button(class='request' value='4') POST /hunters
        button(class='request' value='5') DELETE /hunters/{tag}
        button(class='request' value='6') PATCH /hunters/{tag}
        button(class='request' value='7') GET /exotics
        button(class='request' value='8') GET /exotics/{name}
        button(class='request' value='9') GET /exotics/{type}
        button(class='request' value='10') POST /exotics
        button(class='request' value='11') DELETE /exotics/{name}
        button(class='request' value='12') PATCH /exotics/{name}
      div(id='data')
        include partials/requestData.pug


